__pycache__/
*.pyc
*.pyo
*.png
.vscode/
*.npz
*.npy

results/*
!results/verifications/
!results/main/

results/verifications/*
!results/verifications/topology/
!results/verifications/mobility/
!results/verifications/tilt_effect/
!results/verifications/antenna_pattern/

results/verifications/*/*
!results/verifications/topology/hex_topology.png
!results/verifications/mobility/initial_positions.png
!results/verifications/mobility/rpgm_animation.gif
!results/verifications/tilt_effect/tilt_effect.png
!results/verifications/antenna_pattern/panel_pattern_3d_rectangular.png

results/main/*
!results/main/coverage_vs_time.png
